In [1]:
from __future__ import print_function
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import *
from pyspark import SparkContext
from pyspark.sql import SQLContext

sc=SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('example').getOrCreate()

df = spark.read.json("/Users/alexturk/School/Fall_2020/Big_Data/Final_Project/data.txt")
df.show()

+--------------------+------------------+-------------------+--------------------+--------------------+-------------------+--------------------+
|             address|               lat|               long|            polarity|         rawLocation|       subjectivity|                text|
+--------------------+------------------+-------------------+--------------------+--------------------+-------------------+--------------------+
|       United States|        39.7837304|       -100.4458825|                 0.0|                USA |                0.0|Get ' em now!! ht...|
|G, Watershed Trai...|        33.6238152|        -84.1693827| 0.35833333333333334|         Atlanta, GA| 0.5145833333333333|This is a tragedy...|
|Arlington, Tarran...|32.701938999999996| -97.10562379033699|                -1.0|       Arlington, TX|                1.0|This is beyond di...|
|Texas, United Sta...|        31.8160381|        -99.5120986|               -0.55|          Texas, USA|                0.9|Patriots, it's TI...|
|Calgary, Strathmo...|        51.0534234|       -114.0625892|                -0.2|             Calgary|                0.5|“Long-term care r...|
|Bank of Queenslan...|        -32.067821|        115.8167826|                 0.0|Western Australia...|                0.5|Remember @ScottMo...|
|Florida, United S...|        27.7567667|        -81.4639835|                -1.0|        Florida, USA|                1.0|US coronavirus su...|
|Nationwide, Eastc...|        51.5382399|-1.7769666750000002|                0.25|          Nationwide|0.36041666666666666|@absofabucorn @ka...|
|Melbourne, City o...|       -37.8142176|        144.9631608|                 0.0| Melbourne, Victoria|                0.0|@AnthonySabatini ...|
|           Australia|       -24.7761086|            134.755|-0.02272727272727...|           Australia| 0.3975757575757576|NHMRC responds th...|
|New York, United ...|        40.7127281|        -74.0060152|                -1.0|       New York, USA|                1.0|US coronavirus su...|
|District of Colum...|       38.89379365| -76.98799757261312|                 0.0|District of Colum...|                0.0|WATCH: Speaker Pe...|
|Edmonton, Edmonto...|         53.535411|        -113.507996| 0.10833333333333332|   Edmonton, Alberta| 0.3479166666666667|#COVID19 has "hig...|
|Puget Sound Commu...|        47.5963408|       -122.3241284|                -0.5|Puget Sound, Seat...|                1.0|If you need a rem...|
|London, Southwest...|        42.9836747|        -81.2496068| 0.24242424242424243|London Ontario Ca...| 0.3707070707070707|The Middlesex-Lon...|
|Sunrise, Broward ...|        26.1482449| -80.32888594100868|  0.2559659090909091|         Sunrise, FL| 0.6386363636363637|“There is no need...|
|Los Angeles, Los ...|        34.0536909|       -118.2427666|                 0.5|     Los Angeles, CA|                0.5|Marvin Farr, 81, ...|
|Lichtenstein/Sach...|        50.7556404|         12.6345621|               -0.25|Lichtenstein/Sachsen|               0.55|@RTNBA @MichaelRa...|
|Boulder, Boulder ...|        40.0149856|       -105.2705456|             0.09375|   Boulder, Colorado|                0.4|WALL STREET BANKE...|
|     Ontario, Canada|         50.000678|         -86.000977|-0.10833333333333334|         Ontario, CA|              0.425|'I will never for...|
+--------------------+------------------+-------------------+--------------------+--------------------+-------------------+--------------------+
only showing top 20 rows

In [3]:
df.createOrReplaceTempView("tweets")

spark.sql("SELECT AVG(polarity) FROM tweets").show()

+--------------------+
|       avg(polarity)|
+--------------------+
|0.040415514765762287|
+--------------------+

In [4]:
spark.sql("SELECT AVG(subjectivity) FROM tweets").show()

+-------------------+
|  avg(subjectivity)|
+-------------------+
|0.45155454831197406|
+-------------------+

In [5]:
# get tweets from southern hemisphere
spark.sql("SELECT * FROM tweets WHERE tweets.lat < 0").show()

+--------------------+-----------+-----------+--------------------+--------------------+------------------+--------------------+
|             address|        lat|       long|            polarity|         rawLocation|      subjectivity|                text|
+--------------------+-----------+-----------+--------------------+--------------------+------------------+--------------------+
|Bank of Queenslan...| -32.067821|115.8167826|                 0.0|Western Australia...|               0.5|Remember @ScottMo...|
|Melbourne, City o...|-37.8142176|144.9631608|                 0.0| Melbourne, Victoria|               0.0|@AnthonySabatini ...|
|           Australia|-24.7761086|    134.755|-0.02272727272727...|           Australia|0.3975757575757576|NHMRC responds th...|
|Where the Wild Th...|-27.4804773|153.0120601|                 0.0|Where the wild th...|               0.0|COVID-19 is now t...|
|Queensland, Austr...|-22.1646782|144.5844903|                 0.5|     Qld,  Australia|               0.5|Dr. Fauci, if you...|
|Sydney, New South...|-33.8548157|151.2164539| 0.11527777777777777|Sydney, New South...|0.5111111111111111|I want you to see...|
+--------------------+-----------+-----------+--------------------+--------------------+------------------+--------------------+

In [6]:
spark.sql("SELECT avg(subjectivity) FROM tweets WHERE tweets.lat < 0").show()

+-------------------+
|  avg(subjectivity)|
+-------------------+
|0.31811447811447807|
+-------------------+

In [7]:
spark.sql("SELECT avg(subjectivity) FROM tweets WHERE tweets.lat > 0").show()

+-------------------+
|  avg(subjectivity)|
+-------------------+
|0.45998234221918427|
+-------------------+